<div class='navbar navbar-static-top navbar-default'>
	<div class='container'>
		<div class='navbar-header'>
			<a href="#" class='navbar-brand'>HearthChallenges</a>
		</div>
		<% if session['username'] %>
			<p class='navbar-text navbar-right'>Hello, /u/<%=session['username']%> - <a href="/logout" class='navbar-link'>Logout</a></p>
		<% else %>
			<p class='navbar-text navbar-right'><a href="/login/reddit" class='navbar-link'>Login with Reddit</a></p>
		<% end %>
	</div>
</div>


<div class='col-md-6 col-md-offset-3 container'>
	<p id='errormsg'><%= session['error'] if session['error'] %></p>
	<ul class='nav nav-pills nav-justified' role='tablist'>
		<li role='presentation' class='active'><a href="#roll" role='tab' data-toggle='tab'>Roll</a></li>
		<li role='presentation'><a href="#submit" role='tab' data-toggle='tab'>Submit</a></li>
	</ul>
	<div class='tab-content well well-lg'>
		<div role='tabpanel' class='tab-pane fade in active' id='roll'>
			<div class='row'>
				<button id='reroll' class='btn btn-danger btn-lg'>REROLL CHALLENGE</button>
			</div>
			<div class='row'>
				<h3 id='challenge_body'> </h3>
				<span class="icon-bar"></span>
				<h4 id='challenge_author'> </h4>
			</div>
		</div>
		<div role='tabpanel' class='tab-pane fade' id='submit'>
			<%= render 'sessions/login' if !session['username'] %>
			<%= render 'challenges/create' if session['username'] %>
		</div>
	</div>
</div>