<div class='col-md-6 col-md-offset-3 container'>
	<p id='errormsg'><%= flash['error'] if flash['error'] %></p>
	<ul class='nav nav-pills nav-justified' role='tablist'>
		<li role='presentation' class='active'><a href="#roll" role='tab' data-toggle='tab'>Roll</a></li>
		<li role='presentation'><a href="#submit" role='tab' data-toggle='tab'>Submit</a></li>
	</ul>
	<div class='tab-content well well-lg'>
		<div role='tabpanel' class='tab-pane fade in active' id='roll'>
			<%= render 'challenges/show' %>
		</div>
		<div role='tabpanel' class='tab-pane fade' id='submit'>
			<%= render 'sessions/login' if !session['username'] %>
			<%= render 'challenges/create' if session['username'] %>
		</div>
	</div>
</div>