<% class_rows = [['Druid', 'Hunter', 'Mage'], ['Paladin', 'Priest', 'Rogue'], ['Shaman', 'Warlock', 'Warrior']] %>



<div class='row'>
	<button id='reroll' class='btn btn-danger btn-lg'>REROLL CHALLENGE</button>
</div>

<div class='row'>
	<h5 id='challenge_class'></h5>
	<h3 id='challenge_body' class='top_buffer'></h3>
	<h4 id='challenge_author'></h4>
</div>

<span class='glyphicon glyphicon-filter top_buffer' aria-hidden='true'></span>
<p>Filter results:</p>


<div class='row'>
	<div class='col-xs-4 col-xs-offset-4' data-toggle='buttons'>
		<label class='btn btn-default active btn-block' id='all_classes' ><input type='checkbox' value='All Classes'>All Classes</label>
	</div>
</div>

<% class_rows.each do |row| %>
	<div class='row'>
		<% row.each do |hero| %>
			<div class='col-xs-4' data-toggle='buttons'>
				<label class='btn btn-default btn-block rel_class'><input type='checkbox' value=<%= hero %>><%= hero %></label>
			</div>
		<% end %>
	</div>
<% end %>