<div class='navbar navbar-static-top navbar-default'>
	<div class='container'>
		<div class='navbar-header'>
			<a href="/" class='navbar-brand'>HearthChallenges</a>
		</div>
		<% if session['username'] %>
			<p class='navbar-text navbar-right'>Hello, /u/<%=session['username']%> - <a href="/logout" class='navbar-link'>Logout</a></p>
		<% else %>
			<p class='navbar-text navbar-right'><a href="/login/reddit" class='navbar-link'>Login with Reddit</a></p>
		<% end %>
	</div>
</div>